@(currentProject: neo4j.models.require.Project = null)(implicit request: play.api.mvc.Request[Any], lang: Lang)

@import global.Global

@import neo4j.services.Neo4JServiceProvider
@import neo4j.models.require.Requirement
@import scala.collection.JavaConversions._

@scripts = {
  <script type="text/javascript" src='@routes.Assets.at("javascripts/requirement.js")'></script>
}

@mainPage(Html(Messages("require.list.title")), scripts = scripts, fluid = true) {
  <div class="row mainRow">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">@Messages("require.side.title")</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            @Neo4JServiceProvider.get().projectRepository.findByAuthorOrContributor(PlaySession.getUser).map { project =>
              <li @if(currentProject != null && project.id == currentProject.id) {class="active"}>
                <a href="@routes.RequirementController.requirementListId(project.id)">
                    &nbsp; @project.name
                    <i class="fa fa-trash-o delete pull-right" data-url="@routes.RequirementController.deleteProject(project.id)" data-success="@routes.RequirementController.requirementList" onClick="return false;"></i>
                    <i class="fa fa-edit edit pull-right" onClick="pEdit(@project.id, '@project.name', '@project.description'); return false;"></i>
                </a>
              </li>
            }
            <li>
              <a id="newProject" href="#"><i class="fa fa-plus"></i> @Messages("require.project.new")</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <a class="btn btn-primary marginButton newRequirement" data-parent="0" data-id="@currentProject.id" href="#"><i class="fa fa-plus"></i> @Messages("require.new")</a>
      @Neo4JServiceProvider.get().requirementRepository.findMainRequirementsByProject(currentProject).map { requirement =>
        @renderRequirement(requirement)
      }
    </div>
  </div>

  <!-- project modal -->
  <div class="modal fade" id="projectModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">@Messages("require.project.new")</h4>
        </div>
        <div class="modal-body">
          <form>
            <input type="hidden" id="projectId" />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="projectName" class="control-label">@Messages("name")</label>
                  <input type="text" class="form-control" id="projectName" placeholder="@Messages("field.name.placeholder")" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="projectDescription" class="control-label">@Messages("field.description")</label>
                  <textarea class="form-control" id="projectDescription"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
          <button type="button" class="btn btn-primary" id="newProjectAdd">@Messages("create")</button>
          <button type="button" class="btn btn-primary" id="projectEdit">@Messages("edit")</button>
        </div>
      </div>
    </div>
  </div>

  <!-- requirement modal -->
  <div class="modal fade" id="requireModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">@Messages("require.new")</h4>
        </div>
        <div class="modal-body">
          <form>
            <input type="hidden" id="requireProjectId" />
            <input type="hidden" id="requireParent" />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="requireName" class="control-label">@Messages("name")</label>
                  <input type="text" class="form-control" id="requireName" placeholder="@Messages("field.name.placeholder")" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="requireDescription" class="control-label">@Messages("field.description")</label>
                  <textarea class="form-control" id="requireDescription"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="requireEstimatedEffort" class="control-label">@Messages("field.estimatedEffort")</label>
                  <input type="text" class="form-control" id="requireEstimatedEffort" placeholder="@Messages("field.estimatedEffort.placeholder")" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
          <button type="button" class="btn btn-primary" id="newRequireAdd">@Messages("create")</button>
          <button type="button" class="btn btn-primary" id="requireEdit">@Messages("edit")</button>
        </div>
      </div>
    </div>
  </div>
}

@renderRequirement(requirement: Requirement) = {
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">@requirement.name</h3>
    </div>
    <div class="panel-body">
      <a class="btn btn-primary marginButton newRequirement" data-parent="@requirement.id" data-id="@currentProject.id" href="#"><i class="fa fa-plus"></i> @Messages("require.new")</a>
      <p>
        @requirement.description
      </p>
      @if(requirement.children != null) {
        @requirement.children.map { subRequirement =>
          <!-- TODO prefetch -->
          @renderRequirement(Neo4JServiceProvider.get().requirementRepository.findOne(subRequirement.id))
        }
      }
    </div>
  </div>
}
